@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Arabic&family=Poppins:wght@300;400&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins' , sans-serif;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #0066ffd4;
}
.container{
    width: 800px;
    height: 500px;
    background: #fff;
    border-radius: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.tools-area{
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;
    padding: 0 15px;
}
.tools{
    display: flex;
    width: 70%;
    justify-content: space-between;
    align-items: center;
}
.tools .color{
    display: flex;
    align-items: center;
}
input[type="color"]{
    border: none;
    width: 30px;
    height: 20px;
    margin: 5px;
    background-color: transparent;
    cursor: pointer;
}
input[type="color"]::-webkit-color-swatch{
    border: 2px solid lightgray;
}













